<body id="signup-body">
   <div class="container">

      <form action="signup" method="POST" id="form" class="form">
         <h2 id="signup-title">Register here</h2>

         <div class="form-control">
            <label for="username">Username</label>
            <input name="username" id="username" type="text" placeholder="Enter username">
         </div>

         <div class="form-control">
            <label for="city">Your city</label>
            <input name="city" id="city" type="text" placeholder="Enter your city">
         </div>


         <!--Email, maybe not needed?
    <div class="form-control">
      <label for="email">Email</label>
      <input name="email" id="email" type="text" placeholder="Enter email">
    </div>
    -->

         <div class="form-control">
            <label for="password">Password</label>
            <input name="password" id="password" type="password" placeholder="Enter password">
         </div>

         <button class="btn">Submit</button>
      </form>
      <div>
         <img src="../../images/city.png" alt="">
      </div>
   </div>
</body>

</html>