<h1>Profile page</h1>

<div>
  <img src="#" alt="">
</div>

<div>
  <h3>Username:{{user}}</h3>
  <h3>Score: {{score}}</h3>
  <h3>Ranking: {{ranking}}</h3>
  <h3>City: {{city}}</h3>
</div>

<div id="feed">

</div>