@import url(‘https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap’);

* {
  margin: 0;
  padding: 0;
  font-family: ‘Playfair Display’, serif;
}

#homepage {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  background-color: rgb(68, 133, 157);
  width: 100vw;
  height: 100vw;
}

#homepage img {
  background-color: rgb(68, 133, 157);
  width: 300px;
}

#homepage .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 300px;
  color: rgb(68, 104, 157);
  background-color: white;
  margin-top: 30px;
  border-radius: 30px;
}

#homepage .button:hover {
  background-color: indigo;
}

#homepage a {
  text-decoration: none;
  color: rgb(68, 133, 157);
  font-size: 20px;
}

#homepage h1 {
  color: indigo;
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

#homepage h2 {
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

body {
  /* padding: 50px; */
  height: 100%;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#map {
  width: 100vw;
  height: calc(100vh - 130px);
}

nav {
  background-color: rgb(68, 133, 157);
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 60px;
}

#nav-profile {
  width: 100vw;
}

#profile-title {
  text-align: center;
  margin-top: 30px;
  color: indigo;
}

#nav-profile ul {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#nav-profile a {
  color: indigo;
  text-decoration: none;
  font-size: 16px;
  height: 25px;
  width: 100px;
  margin-right: 10px;
  padding: 20px 15px 15px 15px;
  background-color: white;
  border-radius: 30px;
  border: none;
  text-align: center;
}

#nav-profile a:hover {
  color: white;
  background-color: indigo;
}

#score {
  font-size: 20px;
  color: white;
}

.marker {
  background-color: greenyellow;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

#message {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100vw;
  opacity: 0.8;
  visibility: visible;
  position: absolute;
  top: 50px;
}

p {
  font-size: 30px;
  color: white;
  padding: 10px;
}

#box {
  display: flex;
  align-items: top;
  flex-direction: column;
  background-color: indigo;
  margin-top: 100px;
  height: 150px;
  visibility: hidden;
}

#box p {
  display: flex;
  justify-content: center;
}

#game-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#profile-btn {
  color: indigo;
  text-decoration: none;
  font-size: 16px;
  height: 25px;
  width: 100px;
  margin-left: 50px;
  padding: 20px 15px 15px 15px;
  background-color: white;
  border-radius: 30px;
  border: none;
  text-align: center;
}

#profile-btn:hover {
  color: white;

  background-color: indigo;
}

#ask {
  display: flex;
  align-items: top;
  flex-direction: column;
  background-color: indigo;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 400px;
  height: 70vw;
  visibility: hidden;
}

#ask #question {
  color: white;
  font-size: 15px;
  padding: 30px 20px 30px 20px;
}

#options li {
  color: white;
  list-style-type: none;
  padding: 30px 20px 20px 20px;
  font-size: 16px;
  background-color: mediumturquoise;
  border: solid 1px;
}

#options li:hover {
  background-color: green;
}

#quizz {
  width: 100%;
  height: 80px;
  background-color: lightgreen;
  font-size: 20px;
  text-align: center;
  border: none;
}

#quizz:hover {
  background-color: green;
}

#button-section {
  display: flex;
  flex-direction: row;
}

#skip {
  width: 50vw;
  height: 50px;
  background-color: rgb(77, 133, 77);
  visibility: hidden;
  border: none;
  color: white;
  font-size: 25px;
}

#refresh {
  width: 50vw;
  height: 50px;
  background-color: indigo;
  visibility: visible;
  color: white;
  border: none;
  font-size: 25px;
}

#refresh:hover {
  background-color: green;
}

#profile {
  height: 130px;
  width: 130px;
}

#feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#feed img {
  width: 100px;
  height: 100px;
}

#container-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin-top: 30px;
  margin-bottom: 100px;
}

#user-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: absolute;
  margin-left: 150px;
}

#user-info h3 {
  margin-bottom: 15px;
  font-size: 14px;
}

#feed-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: indigo;
  color: white;
  height: 60px;
}

#feed-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 133, 157);
  height: 50px;
}

#feed-submit button {
  height: 30px;
  width: 80px;
  background-color: indigo;
  color: white;
  border: solid 1px indigo;
  border-radius: 5px;
}

#feed-submit button:hover {
  height: 30px;
  width: 80px;
  background-color: rgb(68, 133, 157);
  color: white;
  border: solid 1px indigo;
  border-radius: 5px;
}

#correctAns {
  display: none;
  visibility: hidden;
}

#signup-body {
  background-color: rgb(68, 133, 157);
  text-align: center;
}

.form-control {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100vw;
}

.form-control input {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 300px;
  height: 60px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.form-control label {
  font-size: 30px;
  color: indigo;
  text-align: center;
}

.btn {
  font-size: 20px;
  color: rgb(68, 133, 157);
  text-align: center;
  background-color: white;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
}

.btn:hover {
  color: rgb(68, 133, 157);
  background-color: indigo;
}

#signup-title {
  color: white;
  font-size: 45px;
  margin-bottom: 50px;
  margin-top: 50px;
}
